In [7]:
import pandas as pd
from pathlib import Path
data_root = Path('.')
train_source = pd.read_parquet(data_root / 'label_train_source.parquet')
train_target = pd.read_parquet(data_root / 'label_train_target.parquet')
test_source = pd.read_parquet(data_root / 'label_test_source.parquet')
meta_song = pd.read_parquet(data_root / 'meta_song.parquet')
# meta_song_composer = pd.read_parquet(data_root / 'meta_song_composer.parquet')
# meta_song_genre = pd.read_parquet(data_root / 'meta_song_genre.parquet')
# meta_song_lyricist = pd.read_parquet(data_root / 'meta_song_lyricist.parquet')
# meta_song_producer = pd.read_parquet(data_root / 'meta_song_producer.parquet')
# meta_song_titletext = pd.read_parquet(data_root / 'meta_song_titletext.parquet')


train_source.dtypes

session_id          int64
song_id            object
unix_played_at      int64
play_status         int64
login_type          int64
listening_order     int64
dtype: object

In [8]:
test_source

,session_id,song_id,unix_played_at,play_status,login_type,listening_order
0,598,43519381e8351d7c6afcc66bcc0a0636,1660177283,1,7,1
1,598,928e2e8e316f29efd986fa8d23429431,1660177503,1,7,2
2,598,5229859624d3b58c35646154cf366bf4,1660177582,1,7,3
3,598,49e50187f7a7f658623807780f499a15,1660177584,1,7,4
4,598,bc8b660fe4d4bfa0a13334beae0cb750,1660177587,1,7,5
...,...,...,...,...,...,...
2861275,714498,13d62012feb791ded330b17098230e0d,1666147178,0,7,16
2861276,714498,a3f4cb9a06f48f2e9ea381be3afc64b3,1666147262,0,7,17
2861277,714498,9bb5e3b8b43fe1e306459c89ab263823,1666147366,0,7,18
2861278,714498,e1ec04cca3d78e9e7fd9793ae45d3638,1666147464,0,7,19
2861279,714498,d55429b033f1eb4209413810c4a6d693,1666147556,0,7,20

In [32]:
train_source[train_source['session_id']==751]

,session_id,unix_played_at,play_status,login_type,listening_order,song_index,previous1_song_index,previous2_song_index
0,751,1659598909,1,7,1,283767,NaN,NaN
1,751,1659599182,1,7,2,753834,283767.0,NaN
2,751,1659599184,0,7,3,753834,753834.0,283767.0
3,751,1659599185,0,7,4,753834,753834.0,753834.0
4,751,1659599218,1,7,5,955400,753834.0,753834.0
5,751,1659599219,1,7,6,13609,955400.0,753834.0
6,751,1659599225,1,7,7,955400,13609.0,955400.0
7,751,1659599229,1,7,8,972005,955400.0,13609.0
8,751,1659599252,0,7,9,13609,972005.0,955400.0
9,751,1659599253,0,7,10,753834,13609.0,972005.0
10,751,1659599287,1,7,11,464634,753834.0,13609.0
11,751,1659599300,1,7,12,870557,464634.0,753834.0
12,751,1659599330,0,7,13,870557,870557.0,464634.0
13,751,1659599619,0,7,14,870557,870557.0,870557.0
14,751,1659599620,0,7,15,870557,870557.0,870557.0
15,751,1659599621,0,7,16,870557,870557.0,870557.0
16,751,1659599622,1,7,17,28802,870557.0,870557.0
17,751,1659599640,0,7,18,283767,28802.0,870557.0
18,751,1659599658,0,7,19,283767,283767.0,28802.0
19,751,1659599683,0,7,20,283767,283767.0,283767.0

In [33]:
train_target[train_target['session_id']==751]

,session_id,unix_played_at,play_status,login_type,listening_order,song_index
790565,751,1659599937,0,7,21,753834
790566,751,1659599953,0,7,22,283767
790567,751,1659599959,0,7,23,753834
790568,751,1659600070,0,7,24,283767
790569,751,1659600099,0,7,25,870557

In [10]:
# map song_id to song_index to save memory and speed up 
meta_song['song_index'] = meta_song.index
train_source = train_source.merge(meta_song[['song_id', 'song_index']], on='song_id', how='left')
train_target = train_target.merge(meta_song[['song_id', 'song_index']], on='song_id', how='left')
test_source = test_source.merge(meta_song[['song_id', 'song_index']], on='song_id', how='left')
del train_source['song_id']
del train_target['song_id']
del test_source['song_id']

In [11]:
train_source

,session_id,unix_played_at,play_status,login_type,listening_order,song_index
0,751,1659598909,1,7,1,283767
1,751,1659599182,1,7,2,753834
2,751,1659599184,0,7,3,753834
3,751,1659599185,0,7,4,753834
4,751,1659599218,1,7,5,955400
...,...,...,...,...,...,...
11445175,458622,1662339887,2,7,16,945544
11445176,458622,1662340090,2,7,17,945544
11445177,458622,1662340294,2,7,18,945544
11445178,458622,1662340497,2,7,19,945544
11445179,458622,1662340701,2,7,20,945544

In [29]:
test_source.groupby('session_id')['session_id'].value_counts()

session_id
8         20
9         20
18        20
19        20
28        20
          ..
715299    20
715308    20
715309    20
715318    20
715319    20
Name: count, Length: 143064, dtype: int64

In [12]:
train_source['previous1_song_index'] = train_source.groupby('session_id')['song_index'].shift(1)
train_source['previous2_song_index'] = train_source.groupby('session_id')['song_index'].shift(2)
test_source['previous1_song_index'] = test_source.groupby('session_id')['song_index'].shift(1)
test_source['previous2_song_index'] = test_source.groupby('session_id')['song_index'].shift(2)
history_fields = ['previous1_song_index', 'previous2_song_index', 'song_index']
history=pd.concat([train_source[history_fields], test_source[history_fields]], ignore_index=True)
history.dropna(inplace=True)
history

          previous1_song_index  previous2_song_index  song_index
2                     753834.0              283767.0      753834
3                     753834.0              753834.0      753834
4                     753834.0              753834.0      955400
5                     955400.0              753834.0       13609
6                      13609.0              955400.0      955400
...                        ...                   ...         ...
14306455              154541.0              125431.0      408927
14306456              408927.0              154541.0      125430
14306457              125430.0              408927.0      490246
14306458              490246.0              125430.0      482103
14306459              482103.0              490246.0      678277

[12875814 rows x 3 columns]

In [13]:
history[['previous1_song_index', 'song_index']]

          previous1_song_index  song_index
2                     753834.0      753834
3                     753834.0      753834
4                     753834.0      955400
5                     955400.0       13609
6                      13609.0      955400
...                        ...         ...
14306455              154541.0      408927
14306456              408927.0      125430
14306457              125430.0      490246
14306458              490246.0      482103
14306459              482103.0      678277

[12875814 rows x 2 columns]

In [14]:
# gram1 = history[['previous1_song_index', 'song_index']]['previous1_song_index']
gram1 = history[['previous1_song_index', 'song_index']].groupby(['previous1_song_index']).value_counts(normalize=True, sort=True)
# gram1 = history[['previous1_song_index', 'song_index']]['previous1_song_index'].value_counts(normalize=True, sort=True)
gram1 = gram1.reset_index().groupby('previous1_song_index').first().reset_index()
gram1

        previous1_song_index  song_index  proportion
0                        1.0     1014814    1.000000
1                        3.0       87846    0.333333
2                        4.0      982833    0.111111
3                        5.0           5    0.166667
4                        6.0      519864    1.000000
...                      ...         ...         ...
687932             1030707.0       76930    0.090909
687933             1030708.0      736280    0.183673
687934             1030709.0      915034    0.049451
687935             1030710.0     1030649    0.953488
687936             1030711.0       34317    0.142857

[687937 rows x 3 columns]

In [15]:
gram2 = history[['previous2_song_index', 'previous1_song_index', 'song_index']].groupby(['previous2_song_index', 'previous1_song_index']).value_counts(normalize=True, sort=True)
gram2 = gram2.reset_index().groupby(['previous2_song_index','previous1_song_index']).first().reset_index()
gram2

         previous2_song_index  previous1_song_index  song_index  proportion
0                         1.0              488417.0      697989         1.0
1                         1.0             1014814.0      799780         1.0
2                         3.0               87846.0      897082         1.0
3                         3.0              200709.0     1021838         1.0
4                         3.0              401307.0      318166         1.0
...                       ...                   ...         ...         ...
8269367             1030711.0              643112.0        6835         1.0
8269368             1030711.0              936567.0     1023129         1.0
8269369             1030711.0              946599.0      125355         1.0
8269370             1030711.0              967484.0      609494         1.0
8269371             1030711.0              967508.0      561432         1.0

[8269372 rows x 4 columns]

In [16]:
train_Y = train_target.pivot_table(index='session_id', columns='listening_order', values='song_index', aggfunc='first', fill_value=0)
train_Y

listening_order      21      22      23      24      25
session_id
1                624433  901147  810092   74420  250714
2                 52476  249524  514925  495260  130336
3                203739  402134  129395  230525  946149
4                453065  709693  453065  709693  453065
5                186586  338120  186586  338120  130652
...                 ...     ...     ...     ...     ...
715317           615766  560313  553343  624094  258244
715320           784715  745441  716579  732103  732103
715321           681203   90781  692730  469116  592612
715322           953126  766052   82260  126631   82260
715323           355650  170449  233843  931389  935947

[572259 rows x 5 columns]

In [34]:
train_X = train_source.pivot_table(index='session_id', columns='listening_order', values='song_index', aggfunc='first', fill_value=0)
train_X

listening_order,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
session_id,,,,,,,,,,,,,,,,,,,,
1,354121,1030664,642780,280721,90293,766515,769968,1007853,249587,615299,166527,973329,489807,789395,832194,962778,913263,910165,194387,722034
2,256188,144246,400761,625467,281059,880625,849960,40747,360309,123421,360309,123421,158192,534994,442771,659818,415453,307906,523383,672083
3,514974,300949,632246,353623,93125,165609,240446,380094,139121,316125,516472,389977,385637,673916,623997,332935,133500,606328,578482,261314
4,277607,219437,138361,622824,967426,700237,868800,490471,835071,628370,7085,238820,503008,238820,503008,503008,824980,267047,238820,709693
5,892347,509757,97064,66960,896666,74810,850960,422356,328649,328649,325229,672168,337713,14961,685694,7267,589816,482509,77515,246245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715317,323105,408854,256899,285864,303707,21973,57762,514986,8113,230578,368936,514985,536976,615765,292762,506580,505242,614405,198412,422547
715320,741894,829501,899618,737589,455527,1018618,737589,899618,430854,732106,732103,1027226,967682,98899,239043,604807,758868,918865,967471,970952
715321,647388,647388,210671,918865,528842,953923,262081,102874,353437,569657,823692,42423,789301,1026608,278029,791040,791040,832786,277358,522132
715322,766052,247342,82260,126631,82260,126631,82260,192965,926821,37200,766052,247342,832762,953126,1030620,880639,722323,825005,247342,832762
715323,1016460,986086,771261,546465,424147,109019,863348,402292,283767,519715,395897,261706,749849,309479,566372,587574,152114,422873,935208,67339

In [18]:
df = pd.concat([train_X[[19,20]], train_Y], axis=1)
df

listening_order      19      20      21      22      23      24      25
session_id
1                194387  722034  624433  901147  810092   74420  250714
2                523383  672083   52476  249524  514925  495260  130336
3                578482  261314  203739  402134  129395  230525  946149
4                238820  709693  453065  709693  453065  709693  453065
5                 77515  246245  186586  338120  186586  338120  130652
...                 ...     ...     ...     ...     ...     ...     ...
715317           198412  422547  615766  560313  553343  624094  258244
715320           967471  970952  784715  745441  716579  732103  732103
715321           277358  522132  681203   90781  692730  469116  592612
715322           247342  832762  953126  766052   82260  126631   82260
715323           935208   67339  355650  170449  233843  931389  935947

[572259 rows x 7 columns]

In [19]:
gram1_predict = pd.merge(df, gram1, left_on=[20], right_on=['previous1_song_index'], how='left')

In [20]:
(gram1_predict['song_index'] == gram1_predict[21]).mean()

0.1488591704106008

In [21]:
gram1_predict['p'] = gram1_predict['song_index'].fillna(gram1_predict[20]).astype(int).values

In [22]:
(gram1_predict['p'] == gram1_predict[21]).mean()

0.14922963203724188

In [23]:
import rich
r = gram1_predict[[21,22,23,24,25]] == gram1_predict[['p']].values
r[25] = r[25] & ~(r[[21,22,23,24]].any(axis=1))
r[24] = r[24] & ~(r[[21,22,23]].any(axis=1))
r[23] = r[23] & ~(r[[21,22]].any(axis=1))
r[22] = r[22] & ~(r[[21]].any(axis=1))
w = [1., 0.63, 0.5, 0.43, 0.38]
all_songs = meta_song.shape[0]
dcg = r.mean() @ w
predict_songs = gram1_predict['p'].sample(frac=0.25).nunique()
fill_songs = 4*test_source['session_id'].nunique()
coverage = (predict_songs+fill_songs)/all_songs
rich.print({'dcg':dcg, 'coverage':coverage, 'total':dcg*0.8+coverage*0.2})

{'dcg': 0.1691226699798518, 'coverage': 0.5992925278836377, 'total': 0.255156641560609}

In [24]:
for k in ['song_index', 'previous1_song_index', 'proportion']:
    del gram1_predict[k]
gram1_predict

            19      20      21      22      23      24      25       p
0       194387  722034  624433  901147  810092   74420  250714  722034
1       523383  672083   52476  249524  514925  495260  130336  672083
2       578482  261314  203739  402134  129395  230525  946149  261314
3       238820  709693  453065  709693  453065  709693  453065  709693
4        77515  246245  186586  338120  186586  338120  130652  365352
...        ...     ...     ...     ...     ...     ...     ...     ...
572254  198412  422547  615766  560313  553343  624094  258244  615766
572255  967471  970952  784715  745441  716579  732103  732103  745441
572256  277358  522132  681203   90781  692730  469116  592612  340530
572257  247342  832762  953126  766052   82260  126631   82260  716463
572258  935208   67339  355650  170449  233843  931389  935947  578288

[572259 rows x 8 columns]

In [25]:
gram2_predict = pd.merge(gram1_predict, gram2, left_on=[19,20], right_on=['previous2_song_index', 'previous1_song_index'], how='left')
for k in ['previous1_song_index', 'previous2_song_index', 'proportion']:
    del gram2_predict[k]
gram2_predict

,19,20,21,22,23,24,25,p,song_index
0,194387,722034,624433,901147,810092,74420,250714,722034,NaN
1,523383,672083,52476,249524,514925,495260,130336,672083,364625.0
2,578482,261314,203739,402134,129395,230525,946149,261314,NaN
3,238820,709693,453065,709693,453065,709693,453065,709693,NaN
4,77515,246245,186586,338120,186586,338120,130652,365352,NaN
...,...,...,...,...,...,...,...,...,...
572254,198412,422547,615766,560313,553343,624094,258244,615766,615766.0
572255,967471,970952,784715,745441,716579,732103,732103,745441,967471.0
572256,277358,522132,681203,90781,692730,469116,592612,340530,NaN
572257,247342,832762,953126,766052,82260,126631,82260,716463,953126.0
572258,935208,67339,355650,170449,233843,931389,935947,578288,NaN

In [19]:
(gram2_predict['song_index'] == gram2_predict[21]).mean()

0.2187261362425056

In [20]:
gram2_predict['p2'] = gram2_predict['song_index'].fillna(gram2_predict['p']).astype(int)
(gram2_predict['p2'] == gram2_predict[21]).mean()

0.228959264948214

In [21]:
cond = (gram2_predict[19] == gram2_predict[20])
gram2_predict['p3'] = gram2_predict['p2'].where(~cond, gram2_predict[20])
(gram2_predict['p3'] == gram2_predict[21]).mean()

0.22980678329218063

In [22]:
r = gram2_predict[[21,22,23,24,25]] == gram2_predict[['p2']].values
r[25] = r[25] & ~(r[[21,22,23,24]].any(axis=1))
r[24] = r[24] & ~(r[[21,22,23]].any(axis=1))
r[23] = r[23] & ~(r[[21,22]].any(axis=1))
r[22] = r[22] & ~(r[[21]].any(axis=1))
w = [1., 0.63, 0.5, 0.43, 0.38]
all_songs = meta_song.shape[0]
dcg = r.mean() @ w
predict_songs = gram2_predict['p2'].sample(frac=0.25).nunique()
fill_songs = 4*test_source['session_id'].nunique()
coverage = (predict_songs+fill_songs)/all_songs
rich.print({'dcg':dcg, 'coverage':coverage, 'total':dcg*0.8+coverage*0.2})

{'dcg': 0.24647729437195395, 'coverage': 0.6051467335201298, 'total': 0.31821118220158917}

In [23]:
r = gram2_predict[[21,22,23,24,25]] == gram2_predict[['p3']].values
r[25] = r[25] & ~(r[[21,22,23,24]].any(axis=1))
r[24] = r[24] & ~(r[[21,22,23]].any(axis=1))
r[23] = r[23] & ~(r[[21,22]].any(axis=1))
r[22] = r[22] & ~(r[[21]].any(axis=1))
w = [1., 0.63, 0.5, 0.43, 0.38]
all_songs = meta_song.shape[0]
dcg = r.mean() @ w
predict_songs = gram2_predict['p3'].sample(frac=0.25).nunique()
fill_songs = 4*test_source['session_id'].nunique()
coverage = (predict_songs+fill_songs)/all_songs
rich.print({'dcg':dcg, 'coverage':coverage, 'total':dcg*0.8+coverage*0.2})

{'dcg': 0.2474390791582133, 'coverage': 0.6052000946918247, 'total': 0.31899128226493556}